<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); %>
  </head>

  <body>
    <%- include('navigation'); %>
    <div class="container">
      <%- include('logo'); %>

      <div class="row text-center">
        <div-- class="col-12 mx-auto">
          <form action="/search" method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">

            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="originLocationGeoHash" placeholder="<%= translation.ORIGINGEOHASH %>">
              </div>
              <div class="form-group col-md-6">
                <input type="text" class="form-control" id="destinationLocationGeoHash" placeholder="<%= translation.DESTINATIONGEOHASH %>">
              </div>
            </div>

            <div class="form-group">
              <input type="text" class="form-control datepicker" id="departureDate" placeholder="<%= translation.WHENTOLEAVE %>">
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-block btn-lg btn-primary"><i class="fas fa-lg fa-search"></i> <%=translation.SEARCH%></button>
            </div>
          </form>
        </div>
      </div>

      <% if (locals.data !== undefined) { %>
        <%- include('results', data); %>
      <% } %>
    </div>
    <%- include('scripts'); %>
    <script type="text/javascript">
      $(function () {
        $('.datepicker').datetimepicker({
          minDate: '2018-08-02'
        });
      });
    </script>
  </body>
</html>