extends layout

block content
  .results
    .results__header
      .results__header--information
        .results__header__title
          span.results__title--location #{origin}
          span.results__title--arrow.fa.fa-long-arrow-right
          span.results__title--location #{destination}
        .results__header__details
          span.results__details--data #{date}
          span.results__details--data #{passengers} #{translation.INPUT_PASSENGER}
      a.results__header--search(data-toggle="collapse", data-target="#search")
    #search.collapse
      include _search.jade

    include _list_results.jade



